<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/solitaire.js"></script>

</head>
    <body ng-app="solitaireApp">
        <div id="page-top"></div>
        <div id="page-body">
            @RenderBody()
        </div>
        <div id="page-bottom"></div>
    </body>
</html>
